<div class="p-3">

  @if(!novoCadastro) {
    <div class="surface-card p-4 border-round shadow-2 w-11 sm:w-12 md:w-12 lg:w-11 mx-auto mb-4">
      <div class="flex justify-end mb-4">
        <p-button label="Adicionar" (click)="adicionarPessoas()" />
      </div>

      <div class="grid justify-content-center">
        <div class="col-12 sm:col-12 md:w-12 lg:w-12">
          <p-table
            [value]="(pessoas$ | async) || []"
            dataKey="id"
            editMode="row"
            [paginator]="true"
            [rows]="8"
            [rowsPerPageOptions]="[5,10,20]"
            [tableStyle]="{ 'min-width': '50rem', 'width': '100%', 'margin': '0 auto' }"
            [scrollable]="true"
            scrollHeight="auto">

            <ng-template pTemplate="header">
              <tr>
                <th style="width:20%">Nome</th>
                <th style="width:20%">CPF</th>
                <th style="width:20%">Email</th>
                <th style="width:20%">Escola</th>
                <th style="width:20%">Endereço</th>
                <th style="width:20%"></th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-pessoa let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="pessoa">
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.cpf }}</td>
                <td>{{ pessoa.email }}</td>
                <td>{{ pessoa.escola }}</td>
                <td>{{ pessoa.endereco }}</td>
                <td>
                  <div class="flex items-center justify-center gap-2">
                    <button
                      pButton pRipple type="button"
                      icon="pi pi-pencil"
                      (click)="exibirModal(pessoa)"
                      text rounded severity="secondary">
                    </button>

                    <button
                      pButton pRipple type="button"
                      icon="pi pi-trash"
                      (click)="deletarPessoa(pessoa.id)"
                      text rounded severity="secondary">
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>

          </p-table>
        </div>
      </div>
    </div>

      <div class="card flex justify-center">
        <p-dialog header="Editar Pessoa" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
          <form [formGroup]="editarForm" class="">
            <div class=" field">
              <label  for="nome">Nome</label>
              <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" pInputText id="nome" formControlName="nome" />
            </div>

            <div class="field mb-3">
              <label class="mr-3" for="cpf">CPF</label>
              <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" pInputText id="cpf" formControlName="cpf" />
            </div>

            <div class="field mb-3">
              <label class="mr-3" for="email">Email</label>
              <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" pInputText id="email" formControlName="email" />
            </div>

            <div class="field mb-3">
              <label class="mr-3" for="escola">Escola</label>
              <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" pInputText id="escola" formControlName="escola" />
            </div>

            <div class="field mb-3">
              <label class="mr-3" for="endereco">Endereço</label>
              <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" pInputText id="endereco" formControlName="endereco" />
            </div>

            <div class="field mb-3">
              <label class="mr-3" for="telefone">Telefone</label>
              <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" pInputText id="telefone" formControlName="telefone" />
            </div>

            <div class="field mb-3">
              <label class="mr-3" for="nomeSocial">Nome Social</label>
              <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" pInputText id="nomeSocial" formControlName="nomeSocial" />
            </div>
            <div class="field mb-3">
              <label class="mr-3" for="cnpj">CNPJ</label>
              <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" pInputText id="cnpj" formControlName="cnpj" />
            </div>
            <div class="field mb-3">
              <label class="mr-3" for="cidade">Cidade</label>
              <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" pInputText id="cidade" formControlName="cidade" />
            </div>
            <div class="field mb-3">
              <label class="mr-3" for="cep">CEP</label>
              <input class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" pInputText id="cep" formControlName="cep" />
            </div>
            <div class="field mb-3">
              <label class="mr-3" for="estado">Estado</label>
              <input pInputText class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="estado" formControlName="estado" />
            </div>
            <div class="field mb-3">
              <label class="mr-3" for="pais">País</label>
              <input pInputText class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="pais" formControlName="pais" />
            </div>

            <div class="flex justify-end gap-2 mt-4">
              <p-button label="Cancelar" severity="secondary" (click)="visible = false"></p-button>
              <p-button label="Salvar" (click)="salvarPessoa()"></p-button>
            </div>
          </form>
        </p-dialog>

    </div>

  }

  <app-cadastro *ngIf="novoCadastro" (pessoaCadastrada)="voltarParaTabela()"></app-cadastro>

</div>
