<div>
  <div class="flex border-round">
    <div class="w-full font-bold flex align-items-center justify-content-center">
        @if(authService.isLoggedIn()) {
          <p-menubar class="w-full"  [model]="menuLogado"/>
        }
        @else{
          <p-menubar class="w-full" [model]="menu"/>
        }
    </div>
    <div class="max-w-5rem font-bold pl-2 flex align-items-center justify-content-center">
      @if (authService.isLoggedIn()) {
        <p-button class="flex justify-content-center " label="Sair" (click)="authService.logout()" />
      }
      @else {
        <p-button class="flex justify-content-center " label="Login" routerLink="/login"/>
      }
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
